html {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
body {
    font-size: 16px;
}
a {
}
a:visited {
}
#lightbulb-canvas {
    position: absolute;
    display: inline;
    width: 100%;
    height: 500px;
    z-index: -10;
}
#lander {
    padding-bottom: 150px;
    height: 500px;
}
#lander .content {
    padding-top: 150px;
}
pre {
    font-size: 14px;
}
header {
    padding-bottom: 1.5em;
}
.pull-right {
    text-align: right;
}
footer {
    font-size: 14px;
}
header ul, footer ul {
    list-style: none;
}
header ul li, footer ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 1em;
}
#main-container {
}
.highlight .hll { background-color: #ffffcc }
.highlight .c { font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .cm { font-style: italic } /* Comment.Multiline */
.highlight .c1 { font-style: italic } /* Comment.Single */
.highlight .cs { font-style: italic } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .s { font-style: italic } /* Literal.String */
.highlight .nc { font-weight: bold } /* Name.Class */
.highlight .ni { font-weight: bold } /* Name.Entity */
.highlight .ne { font-weight: bold } /* Name.Exception */
.highlight .nn { font-weight: bold } /* Name.Namespace */
.highlight .nt { font-weight: bold } /* Name.Tag */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .sb { font-style: italic } /* Literal.String.Backtick */
.highlight .sc { font-style: italic } /* Literal.String.Char */
.highlight .sd { font-style: italic } /* Literal.String.Doc */
.highlight .s2 { font-style: italic } /* Literal.String.Double */
.highlight .se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
.highlight .sh { font-style: italic } /* Literal.String.Heredoc */
.highlight .si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { font-style: italic } /* Literal.String.Other */
.highlight .sr { font-style: italic } /* Literal.String.Regex */
.highlight .s1 { font-style: italic } /* Literal.String.Single */
.highlight .ss { font-style: italic } /* Literal.String.Symbol */

#feature_table code {
    font-size: 14px;
}

#feature_table tr {
    border: solid 1px #FFF;
}

#feature_table tr td {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    width: 275px;
}

#feature_table tr td:first-child {
    font-weight: normal;
}

#feature_table td.green {
    background-color: #A0FFA0;
}

#feature_table td.red {
    background-color: #FF9090;
}

#feature_table td.yellow {
    background-color: #FFFF80;
}

#feature_table td.purple {
    background-color: #B19CD9;
}

.caveat {
    font-weight: normal;
    font-size: 12px;
}

.caveat:target {
    color: red;
    text-decoration: underline;
}
