<!-- vim: set ts=4 sw=4 noet :
-->
xXx PARENT=templates/base.html xXx
xXx TITLE xXx
	Greshunkel
xXx TTYL xXx
xXx CONTENT xXx
<div class="main-container">
	<div class="grid grid-pad">
		<div class="col-12-12">
			<pre>
2015-07-06 16:27:49     cblgh   i was looking at one of your repos before bed
2015-07-06 16:28:45     cblgh   and then i dreamt about GRESHUNKELs
2015-07-06 16:29:02     cblgh   in which they were watermelon sized croissants, with layers of chocolate
2015-07-06 16:29:07     cblgh   and cost 4.2k SEK
2015-07-06 16:29:10     cblgh   why wally
			</pre>
			<pre>lykkin | xbox syntax is the only reason i use greshunkel over other templating languages
			</pre>
			xXx RAW_IMA_GIVE_IT_TO_YA xXx
			<p>GRESHUNKEL is a templating language. And a static site generator. It's actually three different templating languages. I guess technically theres a fourth version as well which we use <a href="https://github.com/infoforcefeed/OlegDB/blob/master/include/oleg.h">for docstring generation.</a> It's complicated. Here, just have this table comparing the features of each implementation:</p>
			<table id="feature_table">
				<tr>
					<th></th>
					<th>Static Site Generator (Python)</th>
					<th><a href="https://github.com/qpfiffer/shithouse.tv">shithouse.tv</a> variant (Lua)</th>
					<th><a href="https://github.com/qpfiffer/38-Moths/blob/master/include/greshunkel.h">38-Moths</a> Official (C)</th>
					<th><a href="https://www.npmjs.com/package/greshunkel">Node.js</a> Port (Javascript)</th>
				</tr>

				<tr>
					<td>Variable Interpolation</td>
					<td class="yellow"><code>xXx @VARIABLE_NAME xXx</code><a href="#caveat1" class="caveat">*</a></td>
					<td class="yellow"><code>xXx VARIABLE_NAME xXx</code><a href="#caveat2" class="caveat">**</a></td>
					<td class="green"><code>xXx @VARIABLE_NAME xXx</code></td>
					<td class="green"><code>xXx @VARIABLE_NAME xXx</code></td>
				</tr>

				<tr>
					<td>Arrays/Loops</td>
					<td class="yellow"><code><pre>xXx LOOP i items xXx
...
xXx BBL xXx</pre></code><a href="#caveat3" class="caveat">***</a></td>
					<td class="red"></td>
					<td class="yellow"><code><pre>xXx LOOP i items xXx
...
xXx BBL xXx</pre></code><a href="#caveat5" class="caveat">*****</a></td>
					<td class="red"></td>
				</tr>

				<tr>
					<td>Filter Functions</td>
					<td class="red"></td>
					<td class="green"><code>yYy filter_function ... yYy</code></td>
					<td class="yellow"><code>XxX filter_func ... XxX</code><a href="#caveat4" class="caveat">****</a></td>
					<td class="red"></td>
				</tr>

				<tr>
					<td>Template Inheritance</td>
					<td class="green"><code>xXx PARENT=templates/base.html xXx</code></td>
					<td class="red"></td>
					<td class="red"></td>
					<td class="green"><code>xXx PARENT=_layouts/single xXx</code></td>
				</tr>

				<tr>
					<td>Blocks</td>
					<td class="green"><code><pre>xXx BLOCK_NAME xXx
...
xXx TTYL xXx</code></td>
					<td class="red"></td>
					<td class="red"></td>
					<td class="red"></td>
				</tr>

				<tr>
					<td>Partial templates (inclusion)</td>
					<td class="red"></td>
					<td class="red"></td>
					<td class="yellow">Planned.</td>
					<td class="red"></td>
				</tr>

				<tr>
					<td>Sub-objects (Dictionaries)</td>
					<td class="green"><code>xXx sub_object$name xXx</code></td>
					<td class="red"></td>
					<td class="green"><code>xXx @sub_object.name xXx</code></td>
					<td class="red"></td>
				</tr>

				<tr>
					<td>Array Indexing</td>
					<td class="green"><code>xXx sub_object$0 xXx</code></td>
					<td class="red"></td>
					<td class="red"></td>
					<td class="red"></td>
				</tr>

				<tr>
					<td>Looping through sub-objects</td>
					<td class="yellow"><code><pre>xXx LOOP param sub_object$params xXx</pre></code><a href="#caveat6" class="caveat">******</a></td>
					<td class="red"></td>
					<td class="red"></td>
					<td class="red"></td>
				</tr>

				<tr>
					<td>"Unless" operator</td>
					<td class="red"></td>
					<td class="green"><code><pre>yYy unless [not] MUSIC_SRC yYy</pre></code></td>
					<td class="green">xXx UNLESSS &lt;NOT&gt; @variable xXx
...
xXx ENDLESS xXx </td>
					<td class="red"></td>
				</tr>

				<tr>
					<td>Ｄｅａｔｈ  Ｌｏｏｐｓ</td>
					<td class="purple">ＳＭＯＫＥ  ＭＥＴＨ</td>
					<td class="purple">ＨＡＩＬ  ＳＡＴＡＮ</td>
					<td class="purple">ＷＲＩＴＥ  Ｃ</td>
					<td class="purple">ＮＯ  ＥＮＤ</td>
				</tr>
			</table>
			<p>Caveats:
				<ul>
					<li><a id="caveat1" class="caveat">*</a> Variables are interpolated differently inside of loops. I don't remember how at the moment, but they are.</li>
					<li><a id="caveat2" class="caveat">**</a> If a variable doesn't exist in this variant, the whole line is not rendered. This is <a href="http://not-important.shithouse.tv/">important.</a></li>
					<li><a id="caveat3" class="caveat">***</a> Loops do a bunch of weird stuff to syntax. Sometimes things will work, and sometimes they won't. It's a chance to experiment!</li>
					<li><a id="caveat4" class="caveat">****</a> Notice that the Xs are alternated here, not to be confused with variable interpolation.</li>
					<li><a id="caveat5" class="caveat">*****</a> I don't think you can do loops inside of loops in this version. I don't remember.</li>
					<li><a id="caveat6" class="caveat">******</a> This only works if the name of the variable you're looping through on the sub-object is called 'params'.</li>
				</ul>
			</p>
			xXx LESS_RAW xXx
		</div>
	</div>
</div>
xXx TTYL xXx
