xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Home
xXx TTYL xXx
xXx CONTENT xXx
<div class="grid grid-pad">
    <div class="col-12-12">
        <div class="content">
            <p> Stuff here. </p>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="grid grid-pad">
        <div class="col-12-12">
            <div class="content">
                <p>
                Split your lungs with blood and thunder
                When you see the white whale
                </p>
                <p>
                Break your backs and crack your oars, men
                If you wish to prevail
                </p>
                <p>
                This ivory leg is what propels me
                Harpoons thrust in the sky
                </p>
                <p>
                Aim directly for his crooked brow
                And look him straight in the eye
                </p>
            </div>
        </div>
    </div>
</div>
xXx TTYL xXx
