<!-- vim: set ts=4 sw=4 noet :
-->
xXx PARENT=templates/base.html xXx
xXx TITLE xXx
	Home
xXx TTYL xXx
xXx CONTENT xXx
<div id="lander">
	<div class="grid grid-pad">
		<div class="col-1-2">
			<div class="content">
				<p>&nbsp;</p>
			</div>
		</div>
		<div class="col-1-2">
			<div class="content">
				<h3>A C micro web-framework.</h3>
				<p>The most webscale&trade; way to throw 502's since your last CGI project.</p>
			</div>
		</div>
	</div>
</div>
<div class="main-container">
	<div class="grid grid-pad">
		<div class="col-1-2">
			<div class="content">
				<div class="highlight"><pre><span class="cp">#include &lt;string.h&gt;</span>
<span class="cp">#include &lt;38-moths/38-moths.h&gt;</span>

<span class="k">static</span> <span class="kt">int</span>
<span class="nf">index_handler</span><span class="p">(</span><span class="k">const</span> <span class="n">http_request</span> <span class="o">*</span><span class="n">req</span><span class="p">,</span> <span class="n">http_response</span> <span class="o">*</span><span class="n">resp</span><span class="p">)</span> <span class="p">{</span>
	<span class="n">resp</span><span class="o">-&gt;</span><span class="n">out</span> <span class="o">=</span> <span class="n">malloc</span><span class="p">(</span><span class="n">strlen</span><span class="p">(</span><span class="s">&quot;Hello, World!&quot;</span><span class="p">);</span>
	<span class="n">memcpy</span><span class="p">(</span><span class="n">resp</span><span class="o">-&gt;</span><span class="n">out</span><span class="p">,</span> <span class="n">buf</span><span class="p">,</span> <span class="n">strlen</span><span class="p">(</span><span class="s">&quot;Hello, World!&quot;</span><span class="p">));</span>

	<span class="n">resp</span><span class="o">-&gt;</span><span class="n">outsize</span> <span class="o">=</span> <span class="k">sizeof</span><span class="p">(</span><span class="n">buf</span><span class="p">);</span>
	<span class="k">return</span> <span class="mi">200</span><span class="p">;</span>
<span class="p">}</span>

<span class="kt">int</span>
<span class="nf">main</span><span class="p">(</span><span class="kt">int</span> <span class="n">argc</span><span class="p">,</span> <span class="kt">char</span> <span class="o">*</span><span class="n">argv</span><span class="p">[])</span> <span class="p">{</span>
	<span class="kt">int</span> <span class="n">main_sock_fd</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>

	<span class="k">static</span> <span class="k">const</span> <span class="n">route</span> <span class="n">all_routes</span><span class="p">[]</span> <span class="o">=</span> <span class="p">{</span>
		<span class="p">{</span><span class="s">&quot;GET&quot;</span><span class="p">,</span> <span class="s">&quot;root_handler&quot;</span><span class="p">,</span> <span class="s">&quot;^/$&quot;</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span>
		 <span class="o">&amp;</span><span class="n">index_handler</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">heap_cleanup</span><span class="p">},</span>
	<span class="p">};</span>

	<span class="n">http_serve</span><span class="p">(</span><span class="o">&amp;</span><span class="n">main_sock_fd</span><span class="p">,</span> <span class="mi">2</span><span class="p">,</span> <span class="n">all_routes</span><span class="p">,</span> <span class="mi">1</span><span class="p">);</span>
	<span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
					</pre>
				</div>
			</div>
		</div>
		<div class="col-1-2">
			<div class="content">
				<p>It's just C. Write what you want, use your tools.</p>
			</div>
		</div>
	</div>
	<div class="grid grid-pad">
		<div class="col-1-2">
			<div class="content">
				<p>A custom templating engine called <strong>GRESHUNKEL</strong>.</p>
				<ul>
					<li>Xbox Live&reg; syntax</li>
					<li>Loops</li>
					<li>Interpolate strings!</li>
				</ul>
			</div>
		</div>
		<div class="col-1-2">
			<div class="content">
<div class="highlight"><pre><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html&gt;</span>
    <span class="nt">&lt;body&gt;</span>
        <span class="nt">&lt;h1&gt;</span>Hello from GRESHUNKEL!<span class="nt">&lt;/h1&gt;</span>
        <span class="nt">&lt;p&gt;</span>Current server uptime is: &#120;&#88;&#120; @UPTIME &#120;&#88;&#120;<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre></div>
			</div>
		</div>
	</div>
</div>
xXx TTYL xXx
